<%- include('partials/header') %>
<%- include('partials/navbarlogged') %>

<h1>DASHBOARD</h1>
<a class="btn btn-outline-light" href="/addsub" role="button">Add New Subscription</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Fee</th>
        <th scope="col">Payment Tool</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      
    <% subscriptions.forEach((element, index) => { %>
        <tr>           
            <th scope="row"><%= index+1 %> </th>
            <td> <%= element.subName %> </td>
            <td> <%= element.subStartDate.toLocaleString([], {weekday: "long", year: "numeric", month: "long", day: "numeric"}) %> </td>
            <td> <%= element.subEndDate.toLocaleString([], {weekday: "long", year: "numeric", month: "long", day: "numeric"}) %> </td>
            <td> <%= element.subFee %> $</td>
            <td> <%= element.subPaymentTool %> </td>
            <form action="/deletesub" method="post">
                <input name="_id" hidden="true" type="text" value="<%= element._id %>">
                <td><button type="submit">Delete</button></td>
            </form>
            <form action="/refreshsub" method="post">
                <input name="_id" hidden="true" type="text" value="<%= element._id %>">
                <input name="enddate" hidden="true" type="text" value="<%= element.subEndDate %>">
                <td><button type="submit">Refresh</button></td>
            </form>
        </tr>
    <% }); %>  
      
     
    </tbody>
</table>

<%- include('partials/footer') %> 